<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <button id="showButton">Add</button>
        <section id="section-products"></section>
        <section id="add-section">
            <label for="iname">Insert the product name: </label>
            <input type="text" name="name" id="iname">
            <label for="iprice">Insert the price of the product:</label>
            <input type="number" name="price" id="iprice">
            <div id="container-acess-buttons">
                <button class="acess-buttons" id="addButton">Add Product</button>
                <button class="acess-buttons" id="clearButton">Clear</button>
            </div>
        </section>
        <p id="count"></p>
        <p id="total-price"></p>
    </main>
    

    <script src="script.js"></script>
</body>
</html>