* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 5px;
}

.avatar {
    border: 2px solid black;
}