@charset "UTF-8";


h1 {
    margin-top: 50px;
    text-align: center;
    color: white;
}
main form {
    gap: 10px;
    font-size: 1.2em;
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

body {
    background-color: rgb(87, 192, 233);
}

footer p {
    text-align: center;
}

input[type="button"] {
    width: 100px;
    height: 30px;
}