* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container {
    text-align: center;
    border: 1px solid black;
}

h1 {
    font-size: 5em;
}

#buttons {
    margin-top: 10px;
}

button {
    width: 100px;
    font-size: 1.5em;
}

button:hover {
    cursor: pointer;
}